.gray {
    color: #b2b2b9;

}

a {
    color: #576bb0;
    text-decoration: none;
}

p {
    line-height: 1.5;
    /* 设置首行缩进 */
    text-indent: 2em;

}

.content-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}